*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.bg{
    background: url(./image/bgg.jpg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: -30;
    left: -30;
    width:calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text{
    font-size: 80px;
    color: rgb(58, 18, 236);
    font-weight: bold;
}